h1 {
	font-size: 2.4rem;
	text-align: center;
}

.App {
	width: 90%;
	margin: 0 auto;
	border: 3px solid blue;
	height: 95vh;
}

* {
	background-image: url('./assets/background.jpg');
	h1,
	h2,
	h3,
	h4,
	p {
		color: white;
	}
}
