.graphContainer{
    display: flex;
    width: 100%;
    border: 3px solid black;
    margin-bottom: 20px;
}

.sideBar{
    width: 30%;
}

.directionButton{
    width: 100px;
    height: 50px;
    margin: 20px;
    background: blue;
    color: white;
    font-size: 1.4rem;
}

.buttonBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
